@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Playfair Display",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
  --detail-font: "Reenie Beanie",  serif;
    
}

/* Global Colors */
:root { 
  --background-color: #0c0b09; /* Background color for the entire website, including individual sections */
  --default-color: rgba(255, 255, 255, 0.7); /* Default color used for the majority of the text content across the entire website */
  --heading-color: #ffffff; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #cda45e; /* It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #29261f; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #0c0b09; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors */
:root {
  --nav-color: #ffffff;  /* The default color of the main navmenu links */
  --nav-hover-color: #cda45e; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #29261f; /* Used as the background color for mobile navigation menu */
}

/* Color Themes */

.light-background {
  --background-color: #29261f;
  --surface-color: #464135;
}

.dark-background {
  --background-color: #000000;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #1a1a1a;
  --contrast-color: #ffffff;
}